#!/bin/bash

mkdir -p @WORKDIR@
let COUNTER++ 
${INSTALL_ROOT}/bin/self --control-quadrature @CONTROL_QUADRATURE@ \
--control-degree @CONTROL_DEGREE@ \
--target-quadrature @TARGET_QUADRATURE@\
--target-degree @TARGET_DEGREE@ \ \
--nelements @NELEMS@\
--nvar @NVAR@ \
--gpu-accel @GPU_ACCEL@ \
@FUNCTION_OPTS@
@ADDITIONAL_OPTS@
--output @OUTPUT_FILE@ \
@COMMAND@
