[submodule "dependencies/feq-parse"]
	path = dependencies/feq-parse
	url = git@github.com:FluidNumerics/feq-parse.git
[submodule "dependencies/json-fortran"]
	path = dependencies/json-fortran
	url = https://github.com/jacobwilliams/json-fortran.git
