credentials.json
*.o
*.mod
.terraform
*.backup
.terraform.lock.hcl
*.gcno
*.gcda
*.tfstate
*.tfstate.backup
*.tfplan
tests.json
stderr
stdout
*.sif
*.tec
.project/
demo-install/
*.swp
gmon.out
.spack-env
spack.lock
*.gcov
*.gcda
*.gcno
*.pvsm
*.swap
*_ERRORS.out
*.vtu
*.dat
solution.*.h5
*.x3d
*.x3db
input/
*.curve
*.zip
*.stdout
input_decks/
public/
build/
results.*
lcov.info
blas_results/