old_examples/
hackathon/
extras/
docs/
autom4te.cache/

sfluid
Makefile.in
Makefile
aclocal.m4
ar-lib
compile
config.status


*.h5
*.mesh
*.swp
*.nvprof
*.bbl
*.html
*.png
*.tex
*.toc
*.bib
*.blg
*.eps
*.jpeg
*.avi
*.mp4
*.mov
*.o
*.mod
*.tmp
*.synctex.gz
*.odp
*.odt
*.aux
*.svg
*.log
*.cls
*.dvi
*.tec
*.pickup
*.exs
*.pc.*
*.bcm
*.stats
*.txt
*.curve
*~
*.xls
*.tif
*.tiff
*.session
*.gui
*.ps
*.
*.ppm
*.jpeg
*.jpg
visitlog.py
Timing.stats
tmg
TQM
*.opt
swd
Doxyfile
*.out
stommel
*.trelis
*.ucd
*.geo
callgrind*
*.mesh
*.new
*.ref
octave-workspace
*.m
*.control
spectral_tests
*.ods
