[submodule "dependencies/hopr"]
	path = dependencies/hopr
	url = git@github.com:FluidNumerics/hopr.git
	branch = master
[submodule "dependencies/feq-parse"]
	path = dependencies/feq-parse
	url = git@github.com:FluidNumerics/feq-parse.git
	branch = master 
[submodule "dependencies/hipfort"]
	path = dependencies/hipfort
	url = git@github.com:ROCmSoftwarePlatform/hipfort.git
	branch = rocm-3.8.x
[submodule "dependencies/json-fortran"]
	path = dependencies/json-fortran
	url = https://github.com/jacobwilliams/json-fortran.git
	branch = master
[submodule "dependencies/hdf5"]
	path = dependencies/hdf5
	url = git@github.com:HDFGroup/hdf5.git
	branch = 1.12/master
