disable-indent-mod=False
enable-replacements=False
c-relations=False

# White space settings
indent=2
line-length=132
strict-indent=True
strip-comments=True
whitespace-relational=True
whitespace-logical=True
whitespace-plusminus=False
whitespace-multdiv=False
whitespace-comma=False
whitespace-intrinsics=False
whitespace-print=False
whitespace-type=False

# Control whitespace around '::' declarations
whitespace-decl=None
enable-decl=False

# Don't indent pre-processor statements
disable-fypp=True
